// Tipografía
$fuente_principal: 'Roboto', sans-serif;

// Colores
$verde: #4CB8B3;
$verde-t: #4cb8b369;
$rosa: #F53756;
$amarillo: #FEF46D;
$naranja: rgb(230, 88, 11);
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;


// Tamnaños media queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;